In [83]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [85]:
East_af = pd.read_csv("EasternAFRI.csv")

In [87]:
East_af

,Country Name,Country Code,Series Name,Series Code,2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022]
0,Comoros,COM,Trade (% of GDP),NE.TRD.GNFS.ZS,40.810419,39.243295,39.235823,37.804952,37.132880,40.164359,42.996153,42.268079,33.729935,42.277729,47.781727
1,Comoros,COM,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,3.168410,4.466247,2.106658,1.147351,3.320447,3.815763,3.642451,1.760780,-0.195557,2.112196,2.387678
2,Kenya,KEN,Trade (% of GDP),NE.TRD.GNFS.ZS,51.623692,47.464643,46.170489,40.327385,34.865020,35.995058,34.414753,31.759467,27.236349,30.689282,33.729551
3,Kenya,KEN,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,4.568680,3.797848,5.020111,4.967721,4.213517,3.837958,5.647946,5.114159,-0.272766,7.590489,4.846635
4,South Sudan,SSD,Trade (% of GDP),NE.TRD.GNFS.ZS,71.619811,50.811247,64.634518,65.551349,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,South Sudan,SSD,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,-46.082122,13.129731,3.373648,-10.793365,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Sudan,SDN,Trade (% of GDP),NE.TRD.GNFS.ZS,21.856175,26.858525,20.845109,18.378273,15.281670,17.831390,21.867919,26.119620,9.955145,4.127549,2.698834
7,Sudan,SDN,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,-17.004688,1.955145,4.661380,1.910177,3.467642,0.709256,-2.680931,-2.178251,-3.629801,-1.868520,-0.953407
8,Somalia,SOM,Trade (% of GDP),NE.TRD.GNFS.ZS,NaN,77.168215,76.510639,71.943550,71.187989,68.081523,75.390673,69.572186,76.009271,82.083919,95.839575
9,Somalia,SOM,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,7.526392,9.946800,6.424307,9.500190,2.994020,3.626830,-2.559789,3.307621,2.433092
10,Tanzania,TZA,Trade (% of GDP),NE.TRD.GNFS.ZS,54.368949,48.631628,45.356022,40.757681,35.420470,33.112592,32.642610,33.018589,27.963015,29.915184,35.020859
11,Tanzania,TZA,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,4.500154,6.781586,6.732462,6.160629,6.867116,6.727270,5.502676,5.800000,1.991965,4.321384,4.558027
12,Uganda,UGA,Trade (% of GDP),NE.TRD.GNFS.ZS,43.502137,43.109155,36.014401,37.689298,31.209362,36.837053,36.638406,39.361054,37.000692,41.713631,34.505302
13,Uganda,UGA,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,3.837456,3.586906,5.106307,5.187860,4.781000,3.131406,6.303924,6.438745,2.951306,3.536580,4.588022
14,Eritrea,ERI,Trade (% of GDP),NE.TRD.GNFS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Eritrea,ERI,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Ethiopia,ETH,Trade (% of GDP),NE.TRD.GNFS.ZS,45.397904,41.471787,40.741084,39.656124,34.899053,31.103631,31.199375,28.815301,24.006114,24.298967,26.566836
17,Ethiopia,ETH,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,8.647812,10.582270,10.257493,10.392463,9.433483,9.564190,6.816148,8.364086,6.059531,5.641531,5.317096
18,Madagascar,MDG,Trade (% of GDP),NE.TRD.GNFS.ZS,52.651714,56.367582,61.969432,61.220379,60.834698,65.343402,67.841505,62.601323,49.010707,54.457042,69.604672
19,Madagascar,MDG,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,3.011148,2.300376,3.339203,3.132298,3.993146,3.933308,3.194357,4.411232,-7.137672,5.739616,3.796199
20,Mauritius,MUS,Trade (% of GDP),NE.TRD.GNFS.ZS,119.500120,113.305654,110.589708,107.145979,101.366114,101.250262,98.087180,96.491951,85.830545,98.000029,119.441682
21,Mauritius,MUS,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,3.496118,3.360406,3.826970,3.690557,3.862468,3.937984,4.006741,2.891285,-14.546538,3.403799,8.880585
22,Seychelles,SYC,Trade (% of GDP),NE.TRD.GNFS.ZS,222.081862,196.429267,213.159121,192.996805,194.447401,216.236611,208.691246,196.972329,179.292369,235.820194,233.069939
23,Seychelles,SYC,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,3.110678,1.253735,4.063692,4.194587,5.104827,2.786710,3.706680,4.876986,-7.728394,5.426823,9.000307
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Data from database: World Development Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Last Updated: 05/30/2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [89]:
East_af_new = East_af.drop(index=range(24, 29)).drop(columns="Series Code")

In [91]:
East_af_new

,Country Name,Country Code,Series Name,2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022]
0,Comoros,COM,Trade (% of GDP),40.810419,39.243295,39.235823,37.804952,37.132880,40.164359,42.996153,42.268079,33.729935,42.277729,47.781727
1,Comoros,COM,GDP growth (annual %),3.168410,4.466247,2.106658,1.147351,3.320447,3.815763,3.642451,1.760780,-0.195557,2.112196,2.387678
2,Kenya,KEN,Trade (% of GDP),51.623692,47.464643,46.170489,40.327385,34.865020,35.995058,34.414753,31.759467,27.236349,30.689282,33.729551
3,Kenya,KEN,GDP growth (annual %),4.568680,3.797848,5.020111,4.967721,4.213517,3.837958,5.647946,5.114159,-0.272766,7.590489,4.846635
4,South Sudan,SSD,Trade (% of GDP),71.619811,50.811247,64.634518,65.551349,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,South Sudan,SSD,GDP growth (annual %),-46.082122,13.129731,3.373648,-10.793365,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Sudan,SDN,Trade (% of GDP),21.856175,26.858525,20.845109,18.378273,15.281670,17.831390,21.867919,26.119620,9.955145,4.127549,2.698834
7,Sudan,SDN,GDP growth (annual %),-17.004688,1.955145,4.661380,1.910177,3.467642,0.709256,-2.680931,-2.178251,-3.629801,-1.868520,-0.953407
8,Somalia,SOM,Trade (% of GDP),NaN,77.168215,76.510639,71.943550,71.187989,68.081523,75.390673,69.572186,76.009271,82.083919,95.839575
9,Somalia,SOM,GDP growth (annual %),NaN,NaN,7.526392,9.946800,6.424307,9.500190,2.994020,3.626830,-2.559789,3.307621,2.433092
10,Tanzania,TZA,Trade (% of GDP),54.368949,48.631628,45.356022,40.757681,35.420470,33.112592,32.642610,33.018589,27.963015,29.915184,35.020859
11,Tanzania,TZA,GDP growth (annual %),4.500154,6.781586,6.732462,6.160629,6.867116,6.727270,5.502676,5.800000,1.991965,4.321384,4.558027
12,Uganda,UGA,Trade (% of GDP),43.502137,43.109155,36.014401,37.689298,31.209362,36.837053,36.638406,39.361054,37.000692,41.713631,34.505302
13,Uganda,UGA,GDP growth (annual %),3.837456,3.586906,5.106307,5.187860,4.781000,3.131406,6.303924,6.438745,2.951306,3.536580,4.588022
14,Eritrea,ERI,Trade (% of GDP),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Eritrea,ERI,GDP growth (annual %),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Ethiopia,ETH,Trade (% of GDP),45.397904,41.471787,40.741084,39.656124,34.899053,31.103631,31.199375,28.815301,24.006114,24.298967,26.566836
17,Ethiopia,ETH,GDP growth (annual %),8.647812,10.582270,10.257493,10.392463,9.433483,9.564190,6.816148,8.364086,6.059531,5.641531,5.317096
18,Madagascar,MDG,Trade (% of GDP),52.651714,56.367582,61.969432,61.220379,60.834698,65.343402,67.841505,62.601323,49.010707,54.457042,69.604672
19,Madagascar,MDG,GDP growth (annual %),3.011148,2.300376,3.339203,3.132298,3.993146,3.933308,3.194357,4.411232,-7.137672,5.739616,3.796199
20,Mauritius,MUS,Trade (% of GDP),119.500120,113.305654,110.589708,107.145979,101.366114,101.250262,98.087180,96.491951,85.830545,98.000029,119.441682
21,Mauritius,MUS,GDP growth (annual %),3.496118,3.360406,3.826970,3.690557,3.862468,3.937984,4.006741,2.891285,-14.546538,3.403799,8.880585
22,Seychelles,SYC,Trade (% of GDP),222.081862,196.429267,213.159121,192.996805,194.447401,216.236611,208.691246,196.972329,179.292369,235.820194,233.069939
23,Seychelles,SYC,GDP growth (annual %),3.110678,1.253735,4.063692,4.194587,5.104827,2.786710,3.706680,4.876986,-7.728394,5.426823,9.000307

In [93]:
East_africa = pd.melt(East_af_new, id_vars=['Country Name', 'Country Code', 'Series Name'], var_name='Year', value_name='Value')

# Extract the year from the 'Year' column
East_africa['Year'] = East_africa['Year'].str.extract(r'(\d+)').astype(int)

In [95]:
East_africa

    Country Name Country Code            Series Name  Year       Value
0        Comoros          COM       Trade (% of GDP)  2012   40.810419
1        Comoros          COM  GDP growth (annual %)  2012    3.168410
2          Kenya          KEN       Trade (% of GDP)  2012   51.623692
3          Kenya          KEN  GDP growth (annual %)  2012    4.568680
4    South Sudan          SSD       Trade (% of GDP)  2012   71.619811
..           ...          ...                    ...   ...         ...
259   Madagascar          MDG  GDP growth (annual %)  2022    3.796199
260    Mauritius          MUS       Trade (% of GDP)  2022  119.441682
261    Mauritius          MUS  GDP growth (annual %)  2022    8.880585
262   Seychelles          SYC       Trade (% of GDP)  2022  233.069939
263   Seychelles          SYC  GDP growth (annual %)  2022    9.000307

[264 rows x 5 columns]

In [97]:
East_africa = East_africa.pivot(index=['Country Name', 'Country Code', 'Year'], columns='Series Name')['Value'].reset_index()
East_africa.columns.name = None
East_africa

    Country Name Country Code  Year  GDP growth (annual %)  Trade (% of GDP)
0        Comoros          COM  2012               3.168410         40.810419
1        Comoros          COM  2013               4.466247         39.243295
2        Comoros          COM  2014               2.106658         39.235823
3        Comoros          COM  2015               1.147351         37.804952
4        Comoros          COM  2016               3.320447         37.132880
..           ...          ...   ...                    ...               ...
127       Uganda          UGA  2018               6.303924         36.638406
128       Uganda          UGA  2019               6.438745         39.361054
129       Uganda          UGA  2020               2.951306         37.000692
130       Uganda          UGA  2021               3.536580         41.713631
131       Uganda          UGA  2022               4.588022         34.505302

[132 rows x 5 columns]

In [99]:
East_africa.head(
)

  Country Name Country Code  Year  GDP growth (annual %)  Trade (% of GDP)
0      Comoros          COM  2012               3.168410         40.810419
1      Comoros          COM  2013               4.466247         39.243295
2      Comoros          COM  2014               2.106658         39.235823
3      Comoros          COM  2015               1.147351         37.804952
4      Comoros          COM  2016               3.320447         37.132880

In [101]:
East_africa = East_africa.sort_values(by=['Year', 'Country Name'])

# Reset index (optional)
East_africa.reset_index(drop=True)

    Country Name Country Code  Year  GDP growth (annual %)  Trade (% of GDP)
0        Comoros          COM  2012               3.168410         40.810419
1        Eritrea          ERI  2012                    NaN               NaN
2       Ethiopia          ETH  2012               8.647812         45.397904
3          Kenya          KEN  2012               4.568680         51.623692
4     Madagascar          MDG  2012               3.011148         52.651714
..           ...          ...   ...                    ...               ...
127      Somalia          SOM  2022               2.433092         95.839575
128  South Sudan          SSD  2022                    NaN               NaN
129        Sudan          SDN  2022              -0.953407          2.698834
130     Tanzania          TZA  2022               4.558027         35.020859
131       Uganda          UGA  2022               4.588022         34.505302

[132 rows x 5 columns]

In [107]:
East_africa['Year'] = East_africa['Year'].astype(str)

# Convert 'GDP growth (annual %)' and 'Trade (% of GDP)' columns to float
East_africa['GDP growth (annual %)'] = East_africa['GDP growth (annual %)'].astype(float)
East_africa['Trade (% of GDP)'] = East_africa['Trade (% of GDP)'].astype(float)

In [109]:
East_africa.info()

<class 'pandas.core.frame.DataFrame'>
Index: 132 entries, 0 to 131
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country Name           132 non-null    object
 1   Country Code           132 non-null    object
 2   Year                   132 non-null    object
 3   GDP growth (annual %)  112 non-null    float64
 4   Trade (% of GDP)       113 non-null    float64
dtypes: float64(2), object(3)
memory usage: 6.2+ KB

In [111]:
East_africa

    Country Name Country Code  Year  GDP growth (annual %)  Trade (% of GDP)
0        Comoros          COM  2012               3.168410         40.810419
11       Eritrea          ERI  2012                    NaN               NaN
22      Ethiopia          ETH  2012               8.647812         45.397904
33         Kenya          KEN  2012               4.568680         51.623692
44    Madagascar          MDG  2012               3.011148         52.651714
..           ...          ...   ...                    ...               ...
87       Somalia          SOM  2022               2.433092         95.839575
98   South Sudan          SSD  2022                    NaN               NaN
109        Sudan          SDN  2022              -0.953407          2.698834
120     Tanzania          TZA  2022               4.558027         35.020859
131       Uganda          UGA  2022               4.588022         34.505302

[132 rows x 5 columns]