In [1]:
#Import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib
import os
import warnings
warnings.filterwarnings("ignore")

plt.style.use('ggplot')
plt.style.use('fivethirtyeight')

In [2]:
Kenya_ex = pd.read_csv("Kenya2012_2022exportsHS2-6.csv")
Kenya_im = pd.read_csv("Kenya2012_2022importHS2-6.csv")
Africa_east = pd.read_csv("EastAfricadata.csv")

## First Data Inspection
This will cover methods use to inspect what kind of data types and the overall attributes of the dataframe.
Exports followed by Imports

In [4]:
Kenya_ex

,HS2,HS2 ID,HS4,HS4 ID,HS6,HS6 ID,Section,Section ID,Trade Value,Year
0,Live animals,101,Horses,10101,Pure-bred Breeding Horses,1010111,Animal Products,1,3846.0,2012
1,Live animals,101,Horses,10101,Non-breeding Horses,1010119,Animal Products,1,13300.0,2012
2,Live animals,101,Horses,10101,"Live Donkeys, Mules, and Crossbreeds",1010120,Animal Products,1,9355.0,2012
3,Live animals,101,Bovine,10102,Pure-bred Breeding Cattle,1010210,Animal Products,1,56766.0,2012
4,Live animals,101,Bovine,10102,Non-breeding Cattle,1010290,Animal Products,1,2624789.0,2012
...,...,...,...,...,...,...,...,...,...,...
40159,Art & antiques,2197,Prints,219702,"Original engravings, prints and lithographs",21970200,Arts and Antiques,21,1849.0,2022
40160,Art & antiques,2197,Sculptures,219703,"Original sculptures and statuary, in any material",21970300,Arts and Antiques,21,638981.0,2022
40161,Art & antiques,2197,Revenue Stamps,219704,"Used postage and revenue stamps, first day cov...",21970400,Arts and Antiques,21,2507.0,2022
40162,Art & antiques,2197,Collector's Items,219705,Collections and collectors pieces,21970500,Arts and Antiques,21,391474.0,2022
40163,Art & antiques,2197,Antiques,219706,Antiques older than one hundred years,21970600,Arts and Antiques,21,58115.0,2022

In [5]:
Kenya_ex.info()
#The HS stands for Harmonised system code used for exporters and importers to pin point the exact categories, types and anyother specific products

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40164 entries, 0 to 40163
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   HS2          40164 non-null  object
 1   HS2 ID       40164 non-null  int64
 2   HS4          40164 non-null  object
 3   HS4 ID       40164 non-null  int64
 4   HS6          40164 non-null  object
 5   HS6 ID       40164 non-null  int64
 6   Section      40164 non-null  object
 7   Section ID   40164 non-null  int64
 8   Trade Value  40164 non-null  float64
 9   Year         40164 non-null  int64
dtypes: float64(1), int64(5), object(4)
memory usage: 3.1+ MB

In [6]:
Kenya_ex.describe()

,HS2 ID,HS4 ID,HS6 ID,Section ID,Trade Value,Year
count,40164.000000,40164.000000,4.016400e+04,40164.000000,4.016400e+04,40164.000000
mean,1133.208147,113334.836495,1.133352e+07,10.777911,1.766068e+06,2016.975700
std,562.378719,56242.164773,5.624220e+06,5.349659,2.452216e+07,3.144862
min,101.000000,10101.000000,1.010111e+06,1.000000,1.000000e+00,2012.000000
25%,629.000000,62933.000000,6.293390e+06,6.000000,3.592750e+03,2014.000000
50%,1161.000000,116104.000000,1.161045e+07,11.000000,2.906650e+04,2017.000000
75%,1684.000000,168420.000000,1.684210e+07,16.000000,1.989582e+05,2020.000000
max,2197.000000,219706.000000,2.197060e+07,21.000000,1.390005e+09,2022.000000

In [7]:
Kenya_ex.isnull().sum()

HS2            0
HS2 ID         0
HS4            0
HS4 ID         0
HS6            0
HS6 ID         0
Section        0
Section ID     0
Trade Value    0
Year           0
dtype: int64

In [8]:
Kenya_ex['Product each industry'] = Kenya_ex.groupby('Section')['HS6'].transform('count')

In [9]:
Kenya_ex = Kenya_ex.drop(columns=['HS2', 'HS2 ID', 'HS4', 'HS4 ID']) #drop unnecessary columns

In [19]:
Kenya_ex

,HS6,HS6 ID,Section,Section ID,Trade Value,Year,Product each industry
0,Pure-bred Breeding Horses,1010111,Animal Products,1,3846.0,2012,1425
1,Non-breeding Horses,1010119,Animal Products,1,13300.0,2012,1425
2,"Live Donkeys, Mules, and Crossbreeds",1010120,Animal Products,1,9355.0,2012,1425
3,Pure-bred Breeding Cattle,1010210,Animal Products,1,56766.0,2012,1425
4,Non-breeding Cattle,1010290,Animal Products,1,2624789.0,2012,1425
...,...,...,...,...,...,...,...
40159,"Original engravings, prints and lithographs",21970200,Arts and Antiques,21,1849.0,2022,77
40160,"Original sculptures and statuary, in any material",21970300,Arts and Antiques,21,638981.0,2022,77
40161,"Used postage and revenue stamps, first day cov...",21970400,Arts and Antiques,21,2507.0,2022,77
40162,Collections and collectors pieces,21970500,Arts and Antiques,21,391474.0,2022,77
40163,Antiques older than one hundred years,21970600,Arts and Antiques,21,58115.0,2022,77

In [10]:
new_column_order = [ 'HS6', 'HS2 ID', 'HS4 ID', 'HS6 ID', 
                    'Section', 'Section ID', 'Product each industry', 
                    'Year', 'Trade Value']

Kenya_ex =

SyntaxError: invalid syntax (132677740.py, line 5)

## This part is the Imports

In [21]:
Kenya_im

,HS2,HS2 ID,HS4,HS4 ID,HS6,HS6 ID,Section,Section ID,Trade Value,Year
0,Live animals,101,Horses,10101,Pure-bred Breeding Horses,1010111,Animal Products,1,185562.0,2012
1,Live animals,101,Horses,10101,Non-breeding Horses,1010119,Animal Products,1,16239.0,2012
2,Live animals,101,Horses,10101,"Live Donkeys, Mules, and Crossbreeds",1010120,Animal Products,1,8204.0,2012
3,Live animals,101,Bovine,10102,Non-breeding Cattle,1010290,Animal Products,1,12187.0,2012
4,Live animals,101,Sheep and Goats,10104,Live Sheep,1010410,Animal Products,1,5.0,2012
...,...,...,...,...,...,...,...,...,...,...
46363,Art & antiques,2197,Prints,219702,"Original engravings, prints and lithographs",21970200,Arts and Antiques,21,12479.0,2022
46364,Art & antiques,2197,Sculptures,219703,"Original sculptures and statuary, in any material",21970300,Arts and Antiques,21,68007.0,2022
46365,Art & antiques,2197,Revenue Stamps,219704,"Used postage and revenue stamps, first day cov...",21970400,Arts and Antiques,21,4810.0,2022
46366,Art & antiques,2197,Collector's Items,219705,Collections and collectors pieces,21970500,Arts and Antiques,21,82799.0,2022
46367,Art & antiques,2197,Antiques,219706,Antiques older than one hundred years,21970600,Arts and Antiques,21,2067.0,2022

In [ ]:
Kenya_im['Product each industry'] = Kenya_im.groupby('Section')['HS6'].transform('count')

In [ ]:
#Next we do the imports for Kenya
Kenya_im_2012 = Kenya_im[Kenya_im.Year == 2012 ].copy()
Kenya_im_2012

In [ ]:
Kenya_im_2022 = Kenya_im[Kenya_im.Year == 2022 ].copy()
Kenya_im_2022

In [ ]:
Kenya_ex_2012 = Kenya_ex[Kenya_ex['Year'] == 2012].copy()
Kenya_ex_2012

In [ ]:
Kenya_ex_2012.nlargest(10, 'Trade Value')

### Concatanating both CSVs to make comparison

In [ ]:
Kenya_concat = pd.concat([Kenya_ex, Kenya_im], axis=0, keys=["Kenya_ex", "Kenya_im"], names=["Edition"]).reset_index()

In [ ]:
Kenya_concat.rename(columns = {'HS6 ID': 'HS6_ID', 'HS4 ID': 'HS4_ID', 'HS2 ID': 'HS2_ID', 
                              'Section ID': 'Section_ID', 'Trade Value': 'Trade_Value', 'Product each industry': 'Product_per_industry'})

### Since 2012, the dataframe of Kenya's export trade value displayed, we see a pattern that most traded product is Vegetable Products

In [ ]:
Kenya_ex_2022 = Kenya_ex[Kenya_ex['Year'] == 2022].copy()
Kenya_ex_2022

In [ ]:
Kenya_ex_2022.nlargest(10,'Trade Value')

In [ ]:
def most_traded(year, section, n):
    return Kenya_ex[(Kenya_ex.Year == year) &  (Kenya_ex.Section == section)].nlargest(n, 'Trade Value')

In [ ]:
most_traded(2018, 'Animal Products', 5)

In [ ]:
most_traded(2022,'Animal Products', 5)

### What we got from data Inspection

In [ ]:
Kenya_section = Kenya_ex[Kenya_ex.Section == 'Animal Products'].copy()
Kenya_section
#looking at one certain section to find counts

## Export Aggregation

In [ ]:
agg = Kenya_ex.groupby(["HS2", "Section"]).agg(
    TotalTrade=('Trade Value', 'sum'),  # Rename to TotalTrade for clarity
    UniqueProduct=('HS6', 'count'),
)

# Step 2: Find the year with the highest trade value within each group
idx = Kenya_ex.groupby(["HS2", "Section"])['Trade Value'].idxmax()

# Step 3: Extract the year with the highest trade value
agg['YearWithMaxTrade'] = Kenya_ex.loc[idx, 'Year'].values

In [ ]:
Kenya_ex.columns

In [ ]:
agg

In [ ]:
#before making correlation we will first look at the total trade value
Kenya_extotaltrade = Kenya_ex.groupby(['Year'])['Trade Value'].sum()
pd.options.display.float_format = '{:.2f}'.format
Kenya_extotaltrade.reset_index()

In [ ]:
sns.barplot(x=Kenya_extotaltrade.index, y=Kenya_extotaltrade.values)

# Set labels and title
plt.xlabel('Year')
plt.ylabel('Total Trade Value')
plt.title('Total Trade Value per Year')
#compared with the most exported goods which is vegetable products we can see a correlating trend between Total Trade value

In [ ]:
color_pal = sns.color_palette()
Kenya_extotaltrade.plot (style = '-',
                  figsize = (10,5),
                  ms = 1,
                  color = color_pal[0],
                  title = 'Kenya total trade')
plt.show

In [ ]:
# Group by year and section to find the total trade value per section per year
# This will show the Year and Section as the multi-level indices
yearly_exports = Kenya_ex.groupby(['Year', 'Section'])['Trade Value'].sum().reset_index()

# Pivot the data to get a better format for plotting
pivot_exports = yearly_exports.pivot(index='Year', columns='Section', values='Trade Value').fillna(0)

In [ ]:
yearly_exports

In [ ]:
pivot_exports.head()

In [ ]:
# Create a correlation matrix using pandas

# Exclude non-numeric columns
corr_matrix = pivot_exports.select_dtypes(include=[ 'float64', 'int64'])

# Now compute the correlation matrix
corr_matrix= pivot_exports.corr()
corr_matrix

In [ ]:

f = plt.figure(figsize=(10, 10)) # figure size 
plt.matshow(pivot_exports.corr(), fignum=f.number) # type of plot
plt.xticks(range(pivot_exports.shape[1]), pivot_exports.columns, fontsize=15, rotation=90) # x axis labels
plt.yticks(range(pivot_exports.shape[1]), pivot_exports.columns, fontsize=15) # y axis labels
cb = plt.colorbar() # add a colour legend (called colorbar)
cb.ax.tick_params(labelsize=14) # add font size
plt.title('Correlation Matrix', fontsize=14) # add title
plt.show()

In [ ]:
corr_matrix = pivot_exports.corr()
f, ax = plt.subplots(figsize=(16, 12))
# Create the heatmap without annotations
sns.heatmap(corr_matrix, annot=False, ax=ax, cmap='coolwarm', linewidths=0.5)

# Define a threshold to distinguish dark and light cells
threshold = corr_matrix.max().max() / 2  # This is an example threshold

# Manually annotate each cell with the correlation coefficient
for i in range(len(corr_matrix.columns)):
    for j in range(len(corr_matrix.columns)):
        value = corr_matrix.iloc[i, j]
        text_color = "black" if value < threshold else "white"
        ax.text(j + 0.5, i + 0.5, f"{value:.2f}",
                horizontalalignment='center',
                verticalalignment='center',
                color=text_color)



# Now we set the title
plt.title('Correlation Matrix', fontsize=14)

# and finally show the plot
plt.show()

In [ ]:

# Get the most and least exported sections
most_exported = pivot_exports.idxmax(axis=1)
least_exported = pivot_exports.idxmin(axis=1)

# Filter the unique labels for both graphs
most_exported_sections = most_exported.unique()
least_exported_sections = least_exported.unique()

# Get the sum of the trade values for each section
most_exported_data = pivot_exports[most_exported_sections].sum(axis=1)
least_exported_data = pivot_exports[least_exported_sections].sum(axis=1)

# Create the bar plot
fig, ax = plt.subplots(2, 1, figsize=(14, 12))

# Plot for most exported sections
sns.barplot(x=most_exported_data.index, y=most_exported_data.values, ax=ax[0])
ax[0].set_title('Most Exported Sections by Year')
ax[0].set_ylabel('Trade Value')
ax[0].set_xlabel('Year')
ax[0].tick_params(axis='both',direction='out', length=6, width=2, colors='r',
               grid_color='r', grid_alpha=0.5)
ax[0].legend(labels=most_exported_sections, title='Section')

# Custom color list for least exported sections
colors = ['blue'] * len(least_exported_data)
year_2013_index = least_exported_data.index.get_loc(2013)  # Find the index for the year 2013
if least_exported[2013] == 'Arts and Antiques':
    colors[year_2013_index] = 'orange'

# Plot for least exported sections with custom colors
sns.barplot(x=least_exported_data.index, y=least_exported_data.values, hue=least_exported_data.index, ax=ax[1], palette=colors)
ax[1].set_title('Least Exported Sections by Year')
ax[1].set_ylabel('Trade Value')
ax[1].set_xlabel('Year')
ax[1].tick_params(axis='both',direction='out', length=6, width=2, colors='r',
               grid_color='r', grid_alpha=0.5)


# Custom legend
legend_handles = [plt.Line2D([0], [0], color='blue', lw=6, label='Weapons'),
                  plt.Line2D([0], [0], color='orange', lw=6, label='Arts and Antiques in 2013')]
ax[1].legend(handles=legend_handles, title='Section')


plt.tight_layout()
plt.show()

In [ ]:
cols = ['product_category','transaction_status','payment_method','device_type','location']
for col in cols:
    sns.countplot(y=col,data=df)
    plt.show()

In [ ]:
sns.lmplot(x='Vegetable Products', y='Animal Products', data= pivot_exports)
pd.options.display.float_format = '{:.2f}'.format  # Adjust as needed